// PRIMARY COLORS
$primary-light-cyan: #66E3FF;
$primary-light-violet: #9617A9;
$primary-blueviolet: #5B27AF;

// SUPPORTS
$support-violet-light: #464ae7;
$support-violet-medium: #464ae7;
$support-violet-dark: #110529;

// BASIC
$black-text: #000000;
$white-text: #FFFFFF;

// GRADIENTS
$gradient-light-violet: linear-gradient(63.01deg, rgb(189, 26, 216) 7.61%, rgb(167, 119, 255) 54.07%, rgb(91, 191, 214) 90.97%);

$gradient-black: linear-gradient(358.86deg, rgb(0, 0, 0) 0.68%, rgb(64, 57, 84) 98.74%);

$gradient-pure-violet: linear-gradient(358.86deg, rgb(160, 40, 255) 100%, rgb(94, 90, 255) 98.100%);



